.body {
  font-family: "Tajawal", sans-serif;
  margin: 3vh 2vw 6vh;
}
.Wheel {
  display: block;
  margin: auto;
}

.slice-value {
  font-size: 25px;
  font-weight: 900;
}

.slices {
  position: absolute;
  text-transform: uppercase;
  color: #383838;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-title {
  display: flex;
  justify-content: space-between;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 20;
}
.info {
  display: flex;
}
.slice-title-1,
.slice-title-2,
.slice-title-3,
.slice-title-4 {
  align-items: start;
}

.slice-title-5,
.slice-title-6,
.slice-title-7,
.slice-title-8 {
  align-items: end;
  text-align: end;
}

.life {
  color: #709fa9;
}
.relationships {
  color: #ff7029db;
}
.business {
  color: #f67055;
}
.self {
  color: #118890;
}
.slice-title {
  font-size: 13px;
  width: auto;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.btn-txt {
  padding: 7px 30px;
}
.slice-title {
  font-size: 14px;
}
.slice-value {
  font-size: 24px;
}
@media (min-width: 1600px) {
  .slice-title {
    font-size: 16px;
  }
  .slice-value {
    font-size: 30px;
  }
}
@media (max-width: 1025px) {
  .slice-title {
    font-size: 22px;
  }
  .slice-value {
    font-size: 38px;
  }
  .icon-title {
    width: 80px;
  }
}
@media (max-width: 8500px) {
  .slice-title {
    font-size: 20px;
  }
  .slice-value {
    font-size: 28px;
  }
  .icon-title {
    width: 70px;
  }
}
@media (max-width: 770px) {
  .slice-title {
    font-size: 20px;
  }
  .slice-value {
    font-size: 25px;
  }
  .icon-title {
    width: 70px;
  }
}
