.download-content {
  display: flex;
  text-align: end;
  display: flex;
  justify-content: end;
}

.btn-light {
  margin: 0px 5px;
  padding: 5px 20px;
  color: #292929;
  text-transform: lowercase;
  font-size: 14px;
  letter-spacing: 1px;
  max-height: 40px;
  min-width: fit-content;
}
button .download-btn {
  width: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 80, "GRAD" 0, "opsz" 24;
}

input {
  max-width: 300px;
}

@media (max-width: 1367px) {
  .download-content {
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .download-content {
    visibility: hidden;
  }
}
