.navbar {
  min-height: 60px;
  display: flex;
  align-content: space-between;
  padding: 5px;
}
img {
  margin-left: 30px;
  width: 90px;
}
.responsive-title {
  display: none;
  height: 0px;
}
.title {
  color: rgb(86, 86, 86);
  text-align: center;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  letter-spacing: 1.5px;
  font-size: 38px;
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 0px;
}
.space {
  width: 160px;
}

@media (min-width: 1381px) {
  .title {
    font-size: 50px;
  }
  img {
    width: 120px;
  }
}
@media (max-width: 850px) {
  .responsive-title {
    display: block;
    height: 80px;
    font-family: "EB Garamond", serif;
    text-align: center;
    color: rgb(86, 86, 86);
    position: absolute;
    top: 30px;
    left: 35%;
  }
  .h1,
  h1 {
    font-size: 38px;
  }
  img {
    width: 90px;
  }
  .navbar {
    height: 100px;
    align-content: center;
    display: block;
    margin: auto;
  }
  .container-fluid {
    max-height: 100px;
  }
  .title {
    display: none;
  }
  .space {
    display: none;
  }
}
